 $font-size: calc(0.5em + 1vw);
 $s-font: calc(0.2em + 1vw);
 $lg-font: calc(1em + 1vw);
 
@mixin closeBtn{
color: rgb(255, 0, 0);
float:right;
font-size: $font-size;
border: none;
}
@mixin closeBtnHover{
    background-color:#434242; 
    color: #fff;
}