 $font-size: calc(0.5em + 1vw);
 $s-font: calc(0.2em + 1vw);
 $lg-font: calc(1em + 1vw);

@mixin closeBtn{
color: rgb(255, 0, 0);
display: block;
float:right;
position: relative;
top: 0;
right: 1em;
font-size: $lg-font;
background-color: transparent;
border: none;
font-weight: bolder;
}
@mixin closeBtnHover{
    color: rgb(0, 47, 255);
   
}