@import "variables/colors.scss";
body,
.App,
.root {
  height: 100%;
}

.hide {
  display: none;
}
.show {
  display: contents;
}
.bgscreenHeader {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-items: baseline;
  width: 100%;
  align-items: center;
  justify-content: start;
  position: fixed;
  top: 0;
  background-color: #fff;
  padding: 0;
  margin: 0;
  .headerUtils {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    height: 50%;
    border-bottom: 1px solid #0000008a;
    button {
      background: none;
      border: none;
      width: 100%;
      font-size: calc(0.1em + 1vw);
      transition: .3s;
    }
    button:hover {
    color: $red;
    }
    .homeandsearch {
      width: 50%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: calc(0.1em + 1vw);

      a {
        background-color: $red;
        width: 30%;
        background-color: #e60012;
        width: 20%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          object-fit: contain;
          height: 60%;
          width: 60%;
        }
      }
      .searchBar {
        position: relative;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: baseline;
        justify-content: space-around;
        margin: 0em 1em;
        border-bottom: 2px solid $red;
      }
      input {
        height: 100%;
        border: none;
        font-size: calc(0.1em + 1vw);
        width: 100%;
      }
    }
  }
  .header-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: 0em 1em;
    button {
      height: 100%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      img {
        min-height: 2em;
        object-fit: scale-down;
        margin: 0em 1em;
      }
    }
    button:hover{
      color: $red;
    }
  }

  .header-menu {
    font-size: calc(0.1em + 1vw);
    border-bottom: 1px solid #0000008a;
    min-width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    min-height: 2.2em;
    li {
      list-style: none;
      height: 100%;
      font-weight: 600;
    }
  }
}
.header {
  z-index: 1;
  position: fixed;
  top: 0;
  margin-bottom: 1em;
  background-color: $red;
  width: 100%;
  min-height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    display: flex;
    align-items: center;
    padding: 0em 0.3em;
    height: 100%;
    color: $white;
    cursor: pointer;
    text-decoration: none;
    align-self: center;
  }
  .h-icon img {
    width: calc(6em + 1vw);
  }
  .h-storeIcon img {
    width: calc(12em + 1vw);
  }
}
.headerMenu {
  margin-top: calc(3em + 1vw);
  padding: 0;
  width: 100%;

  button,
  a {
    text-decoration: none;
    border: none;
    color: rgb(149, 149, 149);
    background-color: #fff;
    font-size: calc(0.5em + 1vw);
  }
  a:hover {
    cursor: pointer;
    color: black;
  }
  .selected {
    cursor: pointer;
    color: black;
  }
}

.Toolbar {
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 84%;
  max-width: 440px;
  display: block;
  margin-bottom: calc(0.5em + 1vh);
  .toolbar-box {
    z-index: 1;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background: white;
    border-radius: 1.9em;
    height: 2.1em;
    box-shadow: -1px 2px 4px #938282;

    .search {
      background-color: $red;
      border-radius: 50%;
      height: 2.5em;
      width: 2.5em;
      bottom: 0.5em;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        box-sizing: border-box;
        height: calc(1em + 1vw);
        color: #fff;

        svg {
          color: #fff;
        }
      }
    }
    button {
      border: none;
      background: none;
      color: gray;
      cursor: pointer;
      img {
        height: calc(0.7em + 1vw);
        margin: 0;
        color: $dgray;
      }
    }
  }
}
.Main-box {
  .Purchase,
  .GameInfo {
    padding: 0em 0.5rem;
  }
}
.footer {
  background-color: $red;
  border: none;
  margin-top: 2em;
  height: 12em;
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  button {
    background: none;
    border: none;
    width: 100%;
    justify-content: center;
    img {
      width: 100%;
    }
  }
  ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 1em;
    padding: 0;
    margin: 0em 1em;
    li {
      width: 100%;
      list-style: none;
    }
  }
}
