@import "variables/colors.scss";
body,
.App,
.root {
  height: 100%;
}
.hide {
  display: none;
}
.show {
  display: contents;
}
.header {
  position: fixed;
  background-color: $red;
  height: 6%;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    height: 100%;
    color: $white;
    margin: 0.5em;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    width: 20%;
  }
}
.headerMenu {
  margin-top: calc(2em + 1vw);
  padding: 0;
  width: 100%;

  button,
  a {
    text-decoration: none;
    border: none;
    color: rgb(149, 149, 149);
    background-color: #fff;
    font-size: calc(0.5em + 1vw);
  }
  a:hover {
    cursor: pointer;
    color: black;
  }
  .selected {
    cursor: pointer;
    color: black;
  }
}

.Toolbar {
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 84%;
  max-width: 440px;
  display: block;
  margin-bottom: calc(0.5em + 1vh);
  .toolbar-box {
    z-index: 1;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background: white;
    border-radius: 1.9em;
    height: 2.1em;
    box-shadow: -1px 2px 4px #938282;

    .search {
      background-color: $red;
      border-radius: 50%;
      height: 2.5em;
      width: 2.5em;
      bottom: 0.5em;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        color: #fff;
        box-sizing: border-box;
        height: 1.5em;
      }
    }
    button {
      border: none;
      background: none;
      color: gray;
      cursor: pointer;
      svg {
        height: 1em;
        margin: 0;
        color: $dgray;
      }
    }
  }
}
.Main-box {
  .Purchase,
  .GameInfo {
    padding: 0em 0.5rem;
  }
}
