@import "variables/colors.scss";
@import "variables/var.scss";

.hide {
  display: none;
}
.show {
  display: contents;
}
.Purchase {
  padding: 0;
  width: 100%;
  color: $dgray;

  span {
    color: gray;
    border-bottom: 2px solid $red;
    margin: 0;
    font-size: $font-size;
  }
  h3 {
    color: $dgray;
    padding: 0;
  }
  .price {
    display: flex;
    justify-content: space-between;
    width: 100%;

    button {
      display: inline;
      padding: 0;
      border: 0;
      background: none;
      color: $red;
      cursor: pointer;
      transition: 0.3s;

     svg .sparks,
     svg .heart-filled {
        display: none;
      }
    }
    button:hover svg .sparks,
    Button:hover svg .hearts .heart .heart-filled button:focus svg .sparks,
    button:focus svg .hearts .heart .heart-filled {
      display: block;
      transition: 0.3s;
    }


    p {
      display: inline;
      font-size: $lg-font;
      padding: 0;
      font-weight: bold;
    }

    h1 {
      display: inline;
    }
  }
  .points {
    display: flex;
    align-items: center;
    .gold-coin {
      display: inline;
      height: 0.7em;
      margin-left: 00.5em;
    }
    p {
      display: inline;
      font-size: $s-font;
      padding: 0 1em;
    }
  }
  .downloadCol {
    display: flex;
    justify-content: center;
    .download {
      background-color: $red;
      width: 95%;
      align-self: center;
      border: none;
      border-radius: 0.3em;
      a {
        color: #fff;
        font-size: $lg-font;
        text-decoration: none;
        padding: 0.4em;
        justify-content: center;
        display: flex;
        align-items: center;
      }
      img {
        width: 20px;
        margin: 0.3em;
      }
    }
    .download:hover {
      background-color: $redHover;
    }
  }
  p {
    display: inline;
    font-size: $s-font;
    padding: 0;
  }
}
.GameInfo {
  color: $dgray;
  font-size: $font-size;
  margin: 0em;

  button {
    color: $red;
    border: none;
    background: none;
    align-items: center;
    font-size: $s-font;
    font-weight: bold;
    padding: 0;
    margin: 0;
    img{
      height: 00.9em;
    }
  }
  button:hover {
    cursor: pointer;
    color: rgb(131, 7, 7);
  }
  .button-box {
    height: 5em;
    width: 100%;
  }
  .exploreTG {
    background-color: $red;
    border: none;
    display: block;
    box-sizing: border-box;
    width: 75%;
    height: 3em;
    margin: 1em 0em 1em 0em;
    border-radius: .5em;
    a {
      color: #fff;
      font-size: calc(0.7em + 1vw);
      font-weight: bold;
      text-decoration: none;
      justify-content: center;
      align-items: center;
      text-align: center;
      display: inline-flex;
      border-radius: 0.3em;
      width: 100%;
      height: 100%;
    }
  }
  .exploreTG:hover {
    cursor: pointer;
    background: $redHover;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }

  .gamePic {
    height: 21em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 95%;
      height: 100%;
    }
  }
}
