@-webkit-keyframes buttonHover {
  0% {
    background: #e60012;
    height: 4em;
    margin: 0;
    border-radius: 0.3em;
  }
  25% {
    background: #750909;
    height: 3em;
    margin: 1em 0em 1em 0em;
    border-radius: 0.3em;
  }
  50% {
    background: #750909;
    height: 4em;
    margin: 0;
    border-radius: 0.3em;
  }
  75% {
    background: #750909;
    height: 3em;
    margin: 1em 0em 1em 0em;
    border-radius: 0.3em;
  }
  100% {
    background: #750909;
    height: 4em;
    margin: 0;
    border-radius: 0.3em;
  }
}

@keyframes buttonHover {
  0% {
    background: #e60012;
    height: 4em;
    margin: 0;
    border-radius: 0.3em;
  }
  25% {
    background: #750909;
    height: 3em;
    margin: 1em 0em 1em 0em;
    border-radius: 0.3em;
  }
  50% {
    background: #750909;
    height: 4em;
    margin: 0;
    border-radius: 0.3em;
  }
  75% {
    background: #750909;
    height: 3em;
    margin: 1em 0em 1em 0em;
    border-radius: 0.3em;
  }
  100% {
    background: #750909;
    height: 4em;
    margin: 0;
    border-radius: 0.3em;
  }
}

@-webkit-keyframes spark {
  0% {
    display: contents;
  }
  50% {
    display: contents;
  }
  100% {
    display: none;
  }
}

@keyframes spark {
  0% {
    display: contents;
  }
  50% {
    display: contents;
  }
  100% {
    display: none;
  }
}

.hide {
  display: none;
}

.show {
  display: contents;
}

.Purchase {
  padding: 0;
  width: 100%;
  color: #434242;
}

.Purchase span {
  color: gray;
  border-bottom: 2px solid #e60012;
  margin: 0;
  font-size: calc(0.5em + 1vw);
}

.Purchase h3 {
  color: #434242;
  padding: 0;
}

.Purchase .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.Purchase .price button,
.Purchase .price button a {
  color: #e60012;
  text-decoration: none;
  display: inline;
  padding: 0;
  border: 0;
  background-color: #fff;
}

.Purchase .price p {
  display: inline;
  font-size: calc(1em + 1vw);
  padding: 0;
  font-weight: bold;
}

.Purchase .price h1 {
  display: inline;
}

.Purchase .points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Purchase .points .gold-coin {
  display: inline;
  height: 0.7em;
  margin-left: 00.5em;
}

.Purchase .points p {
  display: inline;
  font-size: calc(0.2em + 1vw);
  padding: 0 1em;
}

.Purchase .download {
  background-color: #e60012;
  width: 100%;
  border: none;
}

.Purchase .download a {
  color: #fff;
  font-size: calc(1em + 1vw);
  text-decoration: none;
  padding: 0.4em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Purchase .download svg {
  width: 20px;
  margin: 0.3em;
}

.Purchase p {
  display: inline;
  font-size: calc(0.2em + 1vw);
  padding: 0;
}

.Purchase .sparks, .Purchase .spark :active {
  -webkit-animation: spark;
          animation: spark;
}

.GameInfo {
  color: #434242;
  font-size: calc(0.5em + 1vw);
  margin: 0em;
}

.GameInfo button {
  color: #e60012;
  border: none;
  background: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(0.5em + 1vw);
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.GameInfo button svg {
  height: 00.9em;
}

.GameInfo button:hover {
  cursor: pointer;
  color: #830707;
}

.GameInfo .button-box {
  height: 5em;
  width: 100%;
}

.GameInfo .exploreTG {
  background-color: #e60012;
  border: none;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 75%;
  height: 3em;
  margin: 1em 0em 1em 0em;
}

.GameInfo .exploreTG a {
  color: #fff;
  font-size: calc( 0.7em + 1vw);
  font-weight: bold;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 0.3em;
  width: 100%;
  height: 100%;
}

.GameInfo .exploreTG:hover {
  cursor: pointer;
  background: #830707;
  -webkit-animation: buttonHover 1s linear 0s 2;
          animation: buttonHover 1s linear 0s 2;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.GameInfo .gamePic {
  height: 40%;
}

.GameInfo .gamePic img {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=Purchase&Gameinfo.css.map */