@import "variables/colors.scss";
.slider {
  height: 40%;
  margin-top: 0.4em;
}
.full-img img {
  height: 100%;
  width: 100%;
}
.thumb {
    display: inline-flex;
    height: 20%;
    overflow: auto;
  
    img {
      height: 100%;
      width: 20%;
      border: none;
      margin-right: 0.5em;
      opacity: 0.5;
      cursor: pointer;
      border-radius: 0.2em;
    }
    img:hover {
      opacity: 1;
      cursor:pointer;
    }
    .selected{
      opacity: 1;
      border-bottom: 3px solid $red;
      cursor:pointer;
    }
}
