@import "variables/colors.scss";
@import "variables/var.scss";
.show {
  display: contents;
}
.hide {
  display: none;
}
.clearFix{
  clear: both;
}
.tmenu {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  .tmenu-back {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: rgba(58, 58, 58, 0.62);
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.3s;
    text-align: -webkit-center;

    .m-box {
      display: grid;
      gap: 0.3em;
      background: #fff;
      border-radius: 1em;
      padding: 1em 0px;
      position: fixed;
      bottom: 2em;
      left: 50%;
      color: $dgray;
      transform: translateX(-50%);
      overflow-y: auto;
      max-width: 440px;
      transition: 0.4s;
      height: 50%;
      width: 67%;
      align-content: center;

      .close-btn {
        @include closeBtn;
        position: absolute;
        background-color: $border;
        border: 1px solid;
        border-radius: 50%;
        z-index: 1;
        color: #fff;
        width: 20px !important;
        height: 20px !important;
        padding: 0;
        right: 1em;
        top: 1em;
        justify-content: center;
        text-align: center;
      }
      .close-btn:hover {
        @include closeBtnHover;
      }
      h5 {
        border-bottom: 1px solid $border;
        margin-top: 5em;
        position: absolute;
        height: 4em;
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      button {
        cursor: pointer;
        background: transparent;
        border: none;
        border-bottom: 1px solid $border;
        text-align: left;
        padding: 0.3em 1em;
        font-size: $font-size;
        min-height: 1em;
        display: flex;
        align-items: end;
      }
      button:hover {
        cursor: pointer;
      }
    }
  }
}
